@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Roboto&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --primary-color: #fe4775;
  --secondary-color: #161060;
  --primary-text-color: #111111;
  --secondary-text-color: #fff;
  --headline-color: #393939;
  --inactive-text-color: #3939399d;

  --primary-font-family: "Montserrat", sans-serif;
  --secondary-font-family: "Roboto", sans-serif;
}

html {
  font-size: 16px;
}

body {
  font-family: var(--secondary-font-family);
  height: 100vh;
  margin: 0;
}

/* BLOCK */
.form {
  position: relative;
  height: 100%;
  display: grid;
  align-content: center;
  row-gap: 3em;
  padding: 1.5em 0 6.2em 1.5em;
}

/* ELEMENT */
.form__title {
  font-size: 3em;
  font-weight: normal;
}

.form__subtitle {
  text-transform: uppercase;
}

/* ELEMENT */
.form__submit {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: var(--primary-color);
  color: var(--secondary-text-color);
  border: none;
  font-size: 1.4em;
  padding: 1.3em 2em;
}

/* ELEMENT */
.form__input {
  font-size: 2.8em;
  border: none;
  border-bottom: 2px solid var(--headline-color);
  width: 100%;
  padding-right: 0.5em;
}

.form__input::placeholder {
  opacity: 0.4;
}

/* BLOCK */
.radio-group {
  display: flex;
  justify-content: space-around;
  margin-right: 1.5em;
}

/* ELEMENT */
.radio-group__title {
  color: var(--inactive-text-color);
}

.radio-group__input {
  position: absolute;
  opacity: 0;
}

.radio-group__input:checked + .radio-group__title {
  color: var(--primary-color);
}

.radio-group__input:focus-visible + .radio-group__title {
  outline: thin solid;
}

.layout {
  height: 100%;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto 1fr auto;
}

.layout__burger-menu {
  grid-column: 1/4;
  justify-self: start;
  margin: 3em;
  margin-left: 1em;
  background: none;
  border: none;
}

.layout__burger-checkbox {
  position: absolute;
  opacity: 0;
}

.menu {
  left: -100%;
  padding: 2em;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background: var(--secondary-color);
  z-index: 1;
  color: var(--secondary-text-color);
  transition: left 0.3s;
}
.menu label {
  position: absolute;
  right: 2em;
  top: 2em;
}

.layout__burger-checkbox:checked ~ .menu {
  left: 0;
}

.menu h2 {
  font-size: 1em;
  font-weight: normal;
}

.menu a {
  font-size: 2em;
  text-decoration: none;
  color: var(--secondary-text-color);
  margin-bottom: auto;
}

.layout__header {
  grid-column: 1/3;
  font-size: 3em;
  margin: 0;
  margin-left: 0.3em;
}
.layout__notifications {
  margin-right: 1em;
  justify-self: end;
  align-self: center;
  background: none;
  border: none;
}
.layout__new-task {
  grid-column: 3/4;
  padding: 2em 3em;
  background: var(--primary-color);
  display: grid;
  border-top-left-radius: 0.5em;
}

.date-selector-group {
  grid-column: 1/2;
  grid-row: span 2;
  writing-mode: vertical-rl;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4em 2em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  transform: rotate(180deg);
}

.tasks-group {
  grid-column: 2/4;
  display: grid;
  padding: 3em 1em;
  font-size: 1.3em;
  align-content: start;
  row-gap: 3em;
  overflow: auto;
  height: 1fr;
}

.tasks-group__input {
  position: absolute;
  opacity: 0;
}

.tasks-group__input:checked + .tasks-group__task {
  text-decoration: line-through;
  text-decoration-color: var(--primary-color);
}
